@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
background-color: #141414;
font-family: 'Roboto', sans-serif;
color: white;
}



/* Стиль шапки с серым фоном и отступами */
.logo {
  overflow: hidden;
  padding: 20px 10px;
  width: 600px;
  margin: 0 auto;
   margin-top: 30px;
   text-align: center;

}

.post{
	  overflow: hidden;
  padding: 20px 30px;
  width: 540px;
  margin: 0 auto;
   margin-top: 30px;
  border: 4px solid; 
  border-color: rgb(72, 72, 72);
  border-radius: 10px 10px 10px 10px;
  


}

IMG.displayed {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 540px; 
}




.ad{
     overflow: hidden;
  padding: 20px 30px;
  width: 540px;
  margin: 0 auto;
   margin-top: 30px;
   border: 4px solid; 
  border-color: rgb(72, 72, 72);
  border-radius: 10px 10px 10px 10px;

}

a{
    color: #30D5C8;
}














































/* Падужный текст */

.rainbow {
  
   /* Font options */
 
  text-shadow: 2px 2px 4px #000000;
 
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}